# phpstan.neon
parameters:
  excludePaths:
    - 'vendor/*'
    - '**/node_modules/*'
  ignoreErrors:
    - '#Function [a-zA-Z0-9\\_]+\(\) has no return type specified.#'
    - '#Method [a-zA-Z0-9\\_:]+\(\) has no return type specified.#'
  level: 8
  paths:
    - '.'
