/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/************
 * Elements *
 ************/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/*******************
 * Utility classes *
 *******************/

.align-center {
  align-items: center;
}

.bd-green {
  border-color: #46b450 !important;
}

.bd-none {
  border: none;
}

.bd-orange {
  border-color: #f56e28 !important;
}

.bd-red {
  border-color: #dc3232 !important;
}
.bg-green {
  background-color: #46b450 !important;
}

.bg-none {
  background: none !important;
}

.bg-orange {
  background-color: #f56e28 !important;
}

.bg-red {
  background-color: #dc3232 !important;
}
.col {
  flex-direction: column;
}
.disabled {
  opacity: 0.7;
}
.disc {
  list-style: disc;
}

.fg-green {
  color: #46b450 !important;
}
.fg-grey {
  color: #646970 !important;
}

.fg-light-grey {
  color: #f0f0f1 !important;
}

.fg-orange {
  color: #f56e28 !important;
}

.fg-red {
  color: #dc3232 !important;
}
.fg-white {
  color: white !important;
}
.hover\:fg-red:hover {
  color: darkred !important;
}

.flex {
  display: flex;
}

.float-right {
  float: right;
}

.fullwidth {
  width: 100%;
  max-width: none;
}

.gap0125 {
  gap: 0.125rem;
}

.gap025 {
  gap: 0.25rem;
}

.gap1 {
  gap: 1rem;
}

.gap05 {
  gap: 0.5rem;
}

.gap2 {
  gap: 2rem;
}

.gap3 {
  gap: 3rem;
}
.grow1 {
  flex-grow: 1;
}
.inline-block {
  display: inline-block;
}
.lh1 {
  line-height: 1;
}
.line-break {
  line-break: anywhere;
}
.maxWidth80 {
  max-width: 80rem;
}

.m0 {
  margin: 0;
}

.m0auto {
  margin: 0 auto;
}
.mb025 {
  margin-bottom: 0.25rem;
}
.mb075 {
  margin-bottom: 0.75rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb-025 {
  margin-bottom: -0.25rem;
}
.mb-05 {
  margin-bottom: -0.5rem;
}
.ml025 {
  margin-left: 0.25rem;
}

.mt05 {
  margin-top: 0.5rem;
}

.mr025,
.wp-core-ui .button.mr025,
.wp-core-ui .button-build.mr025 {
  margin-right: 0.25rem;
}

.p0 {
  padding: 0;
}
.p1 {
  padding: 1rem;
}
.p1_5 {
  padding: 1.5rem;
}
.p2 {
  padding: 2rem;
}

.pb0 {
  padding-bottom: 0;
}
.pb1 {
  padding-bottom: 1rem;
}

.pl025,
.wp-core-ui .button.pl025,
.wp-core-ui .button-link.pl025 {
  padding-left: 0.25rem;
}
.pl2 {
  padding-left: 2rem;
}
.pt025 {
  padding-top: 0.25rem;
}
.pt05 {
  padding-top: 0.5rem;
}
.pt1 {
  padding-top: 1rem;
}
.py125 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}
.pointer {
  cursor: pointer;
}
.row {
  flex-direction: row;
}
.half {
  width: calc(50% - 1rem);
}
.flexwrap {
  flex-wrap: wrap;
}

.oneThird {
  width: 33.3333333333333334%;
}
.twoThirds {
  width: 66.6666666666666666%;
}

/***************************
 * Components / Overwrites *
 ***************************/
.button.button-icon {
  line-height: 1;
}
.card {
  margin-top: 0;
}
.card_horizontal {
  display: flex;
  flex-direction: row;
}
.form-table th {
  width: 100px;
}
.head {
  border-bottom: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
}
label.error {
  margin-left: 10px;
  color: #dc3232;
}

.logo {
  height: 48px;
  width: 48px;
  margin: 0 0.5rem 0 -0.1rem;
}
svg.react,
.icon {
  height: 24px;
  width: 24px;
  margin-left: -0.15rem;
  margin-right: 0.25rem;
}
svg.react > * {
  fill: black important!;
}

#wpcontent {
  padding-left: 0;
}

.rp-content * {
  box-sizing: border-box;
}

.rp-button-spinner.spinner {
  float: none;
  margin-top: 5px;
  vertical-align: top;
}

.rp-snackbar {
  background-color: #1e1e1e;
  border-radius: 2px;
  bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 13px;
  left: 199px;
  max-width: 600px;
  min-width: 250px;
  padding: 16px 24px;
  position: fixed;
  visibility: hidden;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.rp-snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

i.external-link {
  content: '';
  width: 1rem;
  height: 1rem;
  margin: 0 0.05em 0 0.1em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+)
    no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: text-bottom;
}
